/*Index StyleSheet*/


.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(59, 81, 0, 0.951);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;   
}

.button{
    background-color: rgb(76, 102, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(250, 239, 192);
    font-weight: bold;
    font-size: 18px;  
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 4px; 
    border:rgb(75, 102, 0);
    cursor:pointer;
}
 .button:hover {
    box-shadow: 0 0 15px yellowgreen;
 }

.background{
    background-color:rgba(219, 181, 10, 0.868);
    background-image: url('./images/cook.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.header{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 18px;
}
.textbox {
    border: 2px solid rgb(76, 102, 7);;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadbow 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.454);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width:auto;
    padding: 150px;
}
.textbox:focus {
    border-color: rgb(126, 166, 16);;
    box-shadow: 0 0 5px rgba(0,123, 255, 0.5);
}
/* Aloo Posto StyleSheet*/

#body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: beige;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
#header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(59, 81, 0, 0.951);
    font-size:  65px;
}
.image{
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
    align-self: center;
}
#title{
    text-align: center;
    text-decoration-line: underline;
}
.in{
    text-decoration-line: underline;
    color:rgba(59, 81, 0, 0.951);
}
.read{
    text-align: center;
    color:rgba(59, 81, 0, 0.951);
}
.mother{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:rgba(59, 81, 0, 0.951);
}

#back{
   width: 50px;
   height: 50px;
   background-image: url('./images/home.PNG');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   border: none;
   cursor: pointer;
}
#list{
    color:rgba(59, 81, 0, 0.951);
}
#back:hover{
    color: rgba(0, 0, 0, 0.384);
}



/* pollo */
.chicknrice {
    background-color: beige;
}
.center{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 102, 0);
    font-weight: bold;
}
#top{
    font-weight: bold;
    font-size: 65px;
}

.all {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Father{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    color:rgba(59, 81, 0, 0.951);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Chicken Nuggets */

.dino {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
    align-self: center;

}

.text{
    color: rgb(58, 78, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

#DINO{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  65px;
}
#dinoimg{
    text-align: center;
}
#recipeDino{
    text-align: center;
    font-weight: bold;;
}
#dinoheader{
    text-align:center;
    font-weight: bold;
}
.nuggets{
    font-weight: bold;
}
.chicken{
    text-align: center;
    font-weight: bold;
}

.frozen {
    font-weight: bold;
}

.store {
    font-weight: bold;
}