/*Index StyleSheet*/

#header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  75px;
    text-shadow: 
    -1px -1px 0 darkgreen,  
    1px -1px 0 darkgreen,
    -1px 1px 0 darkgreen,
    1px 1px 0 darkgreen;
-webkit-text-stroke: 1.5px black;
}
#intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(250, 239, 192);
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 
        -1px -1px 0 darkgreen,  
        1px -1px 0 darkgreen,
        -1px 1px 0 darkgreen,
        1px 1px 0 darkgreen;
    -webkit-text-stroke: 1.5px black;
}
.button{
    background-color: rgb(75, 102, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(250, 239, 192);
    font-weight: bold;
    font-size: 18px;  
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 4px; 
    border:rgb(75, 102, 0);
    cursor:pointer;


}
.button:hover{
    background-color:rgb(188, 212, 122)

}

*{
    background-color:rgb(250, 239, 192);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(250, 239, 192);
    font-weight: bold;
    background-image: url('./images/cook.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-shadow: 
    -1px -1px 0 darkgreen,  
    1px -1px 0 darkgreen,
    -1px 1px 0 darkgreen,
    1px 1px 0 darkgreen;
-webkit-text-stroke: 1.5px darkgreen;
}

.header{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 18px;
}

.textbox{
    border-color: #006329;
    box-shadow: 0 0 8px rgba(2, 76, 26, 0.6);
    outline: none;
    border: 2px solid #127029;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Aloo Posto StyleSheet*/

#body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(250, 239, 192);
    font-size:  65px;
}
.image{
    text-align: center;
}
#title{
    text-align: center;
    text-decoration-line: underline;
}
.in{
    text-decoration-line: underline;
}
.read{
    text-align: center;
}
.mother{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#back{
   width: 50px;
   height: 50px;
   background-image: url('./images/home.PNG');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   border: none;
   cursor: pointer;

}
#back:hover{
    color: rgba(0, 0, 0, 0.384);
}



/* pollo */
.center{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 102, 0);
}
#top{
    font-weight: bold;
    font-size: 65px;
}
#Home{
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
}
#Home:hover{
    color: rgba(0, 0, 0, 0.384);
}
#Father{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.start{
    text-decoration:underline;
}
/* Chicken Nuggets */

.text{
    color: rgb(58, 78, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#DINO{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  65px;
}
#dinoimg{
    text-align: center;
}
#recipeDino{
    text-align: center;
    text-decoration-line: underline;
}
#dinoheader{
    text-align:center;
}
.nuggets{
    text-decoration-line: underline;
}
.chicken{
    text-align: center;
    font-weight: bold;
}