/*Index StyleSheet*/

#header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 102, 0);
    font-size:  75px;
}
#intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 102, 0);
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}
#links{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 102, 0);
    font-weight: bold;
    font-size: 18px;  
    text-align: center;  
}
*{
    background-color:rgb(250, 239, 192);
}

/* Aloo Posto StyleSheet*/

#body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(59, 80, 2);
    font-weight: bold;
}
#header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 102, 0);
    font-size:  65px;
}
.image{
    text-align: center;
}
#title{
    text-align: center;
    text-decoration-line: underline;
}
.in{
    text-decoration-line: underline;
}
.read{
    text-align: center;
}

/* pollo */

#polloheader{ 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 102, 0);
    font-size:  65px;

}
#polloimg{
    text-align:center;
}
#pollo{
    text-align: center;
    text-decoration-line: underline;
    color: rgb(75, 102, 0);
}
.p{
   text-align: center; 
   color: rgb(40, 54, 1);
}
.h{
    text-align: center;
    text-decoration-line: underline;
    color: rgb(75, 102, 0);
}
.list{
    color: rgb(40, 54, 1);  
}